/*
    PokeSearch component styling
*/

[data-theme='light'] {
  --text-color: black;
}

[data-theme='dark'] {
  --text-color: white;
}

.searchbar {
    display:flex;
    justify-content: start;
    align-items: center;
    margin: 1rem 0; 
}

.textfieldsearch {
    width: 25vw;
}

#filled-search {
    color: var(--text-color);
}