/*
    Pokeblock styling
*/

[data-theme='light'] {
    --number-color: rgba(211, 207, 207, 0.25);
    --text-color: black;
  }
  
  [data-theme='dark'] {
    --number-color: rgba(211, 207, 207, 0.25);
    --text-color: rgb(255, 255, 255);
  }

.number {
    position: absolute;
    color: var(--number-color);
    font-size: 400%;

}

.name {
    position: absolute;
    z-index: 100;
    font-size: 300%;
    color: var(--text-color);
}